inventory/src/main/app/inventoryload-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="inFileCopyToArchiveAndProcessFolderFlow">
		<sftp:inbound-endpoint host="${interface.sftp.host}"
			port="${interface.sftp.port}" path="${interface.sftp.indir}" user="${interface.sftp.user}"
			password="${interface.sftp.password}" responseTimeout="10000"
			doc:name="In SFTP" connector-ref="SFTP">
            <file:filename-regex-filter pattern="${interface.sftp.pickup.filepattern}" caseSensitive="true"/>
        </sftp:inbound-endpoint>
		<logger
			message="#[server.dateTime.format('yyyyMMddHHmmssSSSSSS')] : inFileCopyToArchiveAndProcessFolderFlow Started: flowInFileCopyToArchiveAndProcessFolder - Picked up file #[message.inboundProperties.originalFileName]"
			level="INFO" doc:name="Log: Inbound File Copy to Archive And Process Folder Flow Started" />
		<flow-ref name="copySourceFileToArchiveAndProcessFolderSubFlow"
			doc:name="Call SubFlow: Copy Source File to Archive And Process Folder" />
        <logger message="#[server.dateTime.format('yyyyMMddHHmmssSSSSSS')] : inFileCopyToArchiveAndProcessFolderFlow Ended: flowInFileCopyToArchiveAndProcessFolder" level="INFO" doc:name="Log: Inbound File Copy to Archive And Process Folder Flow Ended"/>
		<rollback-exception-strategy
			maxRedeliveryAttempts="2" doc:name="Rollback Exception Strategy">
			<logger
				message="#[server.dateTime.format('yyyyMMddHHmmssSSSSSS')] :  Issues faced while  moving file  #[flowVars.originalfileName] to Archive &amp; Process folder. Retrying ..."
				level="INFO" doc:name="Log: Issue Happened While Moving File to Archive And Process" />
			<flow-ref name="rollbackExceptionStrategySubflow" doc:name="Call SubFlow: rollbackExceptionStrategySubflow" />
		</rollback-exception-strategy>
	</flow>
	<sub-flow name="copySourceFileToArchiveAndProcessFolderSubFlow">
		<byte-array-to-object-transformer
			doc:name="Byte Array to Object" />
		<sftp:outbound-endpoint exchange-pattern="one-way"
			connector-ref="SFTP" outputPattern="#[org.apache.commons.io.FilenameUtils.removeExtension(message.inboundProperties.originalFileName)]-archive-#[server.dateTime.format('yyyyMMddHHmmssSSSSSS')].#[org.apache.commons.io.FilenameUtils.getExtension(message.inboundProperties.originalFileName)]"
			host="${interface.sftp.host}" port="${interface.sftp.port}"
			path="${interface.sftp.archivedir}" user="${interface.sftp.user}"
			password="${interface.sftp.password}" responseTimeout="10000"
			doc:name="Archive SFTP" />
		<logger
			message="#[server.dateTime.format('yyyyMMddHHmmssSSSSSS')] : Successful copy to archive folder #[flowVars.archivefileName]"
			level="INFO" doc:name="Log: Successful Copy to Archive Folder" />

		<sftp:outbound-endpoint exchange-pattern="one-way"
			connector-ref="SFTP" outputPattern="#[message.inboundProperties.originalFilename]"
			host="${interface.sftp.host}" port="${interface.sftp.port}" path="${interface.sftp.processdir}"
			user="${interface.sftp.user}" password="${interface.sftp.password}"
			responseTimeout="10000" doc:name="Process SFTP" />
		<logger
			message="#[server.dateTime.format('yyyyMMddHHmmssSSSSSS')] : Successful copy to process folder"
			level="INFO" doc:name="Log: Successful Copy to Process Folder" />


	</sub-flow>
    <sub-flow name="cleanupAndResetData">
        <db:execute-ddl config-ref="MySQL_Configuration" doc:name="Drop store Table">
            <db:dynamic-query><![CDATA[DROP TABLE IF EXISTS store]]></db:dynamic-query>
        </db:execute-ddl>
        <db:execute-ddl config-ref="MySQL_Configuration" doc:name="Create store Table">
            <db:dynamic-query><![CDATA[CREATE TABLE inventory.store (
  id INT NOT NULL,
  name VARCHAR(45) NULL,
  address VARCHAR(45) NULL,
  city VARCHAR(45) NULL,
  country VARCHAR(45) NULL,
  zipcode VARCHAR(45) NULL,
  lat DECIMAL(12,8) NOT NULL,
  lng DECIMAL(12,8) NOT NULL,
  PRIMARY KEY (id))]]></db:dynamic-query>
        </db:execute-ddl>
        <db:execute-ddl config-ref="MySQL_Configuration" doc:name="Drop storeitemqty Table">
            <db:dynamic-query><![CDATA[DROP TABLE IF EXISTS storeitemqty]]></db:dynamic-query>
        </db:execute-ddl>
        <db:execute-ddl config-ref="MySQL_Configuration" doc:name="Create storeitemqty Table">
            <db:dynamic-query><![CDATA[CREATE TABLE inventory.storeitemqty (
  storeid INT NOT NULL,
  itemid INT NULL,
  qty DECIMAL(5,2) NULL,
  UNIQUE KEY storeid_itemid_unique (storeId, itemid))]]></db:dynamic-query>
        </db:execute-ddl>
        <db:delete config-ref="MySQL_Configuration" doc:name="Cleanup store Table">
            <db:parameterized-query><![CDATA[DELETE FROM store]]></db:parameterized-query>
        </db:delete>
        <db:insert config-ref="MySQL_Configuration" doc:name="Setup Store Data">
            <db:parameterized-query><![CDATA[INSERT INTO store VALUES 
(1,"STORE - MADISON 1","521 Madison Avenue","New York","US","10022",40.75991165,-73.97370082),
(2,"STORE - COLUMBUS AVE","341 Columbus Avenue","New York","US","10024",40.7801122,-73.9765759),
(3,"STORE - FIFTH AVE","166 Fifth Avenue","New York","US","10010",40.74069671,-73.99055016),
(4,"STORE - MADISON 2","1039 Madison Avenue","New York","US","10075",40.7765213,-73.9616816),
(5,"STORE - SANIBEL","2055 Periwinkle Way","Sanibel","US","33957",26.43796,-82.07066),
(6,"STORE - CHESTNUT HILL","199 Boylston Street","Chestnut Hill","US","02467",42.3206,-71.1747),
(7,"STORE - EAST HAMPTON","26 Newtown Lane","East Hampton","US","11937",40.9643521,-72.1859936),
(8,"STORE - COPLEY PLACE","100 Huntington Avenue","Boston","US","02116",42.347029,-71.077897),
(9,"STORE - WHITE PLAINS","125 Westchester Avenue","White Plains","US","10601",41.0311023,-73.7599515),
(10,"STORE - WESTPORT","160 Main Street","Westport","US","06880",41.1437533,-73.3615028),
(11,"STORE - SOHO","395 West Broadway","New York","US","10012",40.7241108,-74.0019115),
(12,"STORE - PINE STREET","525 Pine Street","Seattle","US","98101",47.6118192,-122.3355413),
(13,"STORE - NORTHAMPTON","24 Pleasant Street","Northampton","US","01060",42.319316,-72.628978),
(14,"STORE - WATER TOWER PL","845 North Michigan Avenue","Chicago","US","60611",41.8980056,-87.6232355),
(15,"STORE - TYSONS GALLERIA","1805G International Drive","Mclean","US","22102",38.924693,-77.224511),
(16,"STORE - BETHESDA- MONTGOMERY","7101 Democracy Boulevard","Bethesda","US","20817",39.0257717,-77.1475762),
(17,"STORE - STANFORD","114 Stanford Shopping Center","Palo Alto","US","94304",37.4435837,-122.1715279),
(18,"STORE - WALNUT CREEK","1282 Broadway Plaza","Walnut Creek","US","94596",37.8942222,-122.0582992),
(19,"STORE - SOMERSET","2801 West Big Beaver Road C-113","Troy","US","48084",42.5595008,-83.1833009),
(20,"STORE - COLUMBUS CENTER","10 Columbus Circle","New York","US","10019",40.7684251,-73.9831903),
(21,"STORE - SOUTH COAST PLAZA","3333 Bristol Street\, Suite 2007","Costa Mesa","US","92626",33.6908608,-117.887914),
(22,"STORE - NAPLES","1211 Third Street South","Naples","US","34102",26.1312078,-81.8016074),
(23,"STORE - KIERLAND COMMONS","15215 North Kierland Boulevard","Scottsdale","US","85254",33.6251325,-111.9282394),
(24,"STORE - ARDMORE","48 Saint Georges Road","Ardmore","US","19003",40.009032,-75.289669),
(25,"STORE - WESTFIELD","9 Elm Street","Westfield","US","07090",40.6504328,-74.3481583),
(26,"STORE - FILLMORE","2216 Fillmore Street","San Francisco","US","94115",37.7901996,-122.4339064),
(27,"STORE - WELLESLEY","53 Central Street","Wellesley","US","02482",42.2963931,-71.2959214),
(28,"STORE - KING OF PRUSSIA","160 North Gulph Road","King Of Prussia","US","19406",40.0860622,-75.395345),
(29,"STORE - UNIVERSITY VILLAGE","4610  26th Avenue NE","Seattle","US","98105",47.56182,-122.36539),
(30,"STORE - BRIDGEPORT VILLAGE","7353 SW Bridgeport Road","Tigard","US","97224",45.395202,-122.751577),
(31,"STORE - HINGHAM","94 Derby Street","Hingham","US",02043,42.1774601,-70.9087745),
(32,"STORE - Palm Beach Gardens","3101 PGA Boulevard","Palm Beach  Gardens","US","33410",26.8473981,-80.0853836),
(33,"STORE - BELLEVUE SQUARE","2008 Bellevue Square SE","Bellevue","US","98004",47.616263,-122.205060),
(34,"STORE - WINTER PARK","112 North Park Avenue","Winter Park","US","32789",28.5980289,-81.3508217),
(35,"STORE - MILL VALLEY","149 Throckmorton Avenue","Mill Valley","US","94941",37.90554,-122.548853),
(36,"STORE - HIGHLAND PARK","640 Central Avenue","Highland Park","US","60035",42.1847632,-87.8009621),
(37,"STORE - SARASOTA","1501 Main Street","Sarasota","US","34236",27.3366934,-82.5405399),
(38,"STORE - DENVER","2800 East 2nd Avenue","Denver","US","80206",39.7191536,-104.9540204),
(39,"STORE - CHEVY CHASE","5330 Western Avenue","Chevy Chase","US","20815",38.9609231,-77.0864455),
(40,"STORE - SAINT LOUIS","84 Frontenac Pl Dr.","St. Louis","US","63131",38.62934,-90.41246),
(41,"STORE - PALM DESERT","73-585 El Paseo Boulevard","Palm Desert","US","92260",33.719539,-116.381205),
(42,"STORE - SANTA FE","142 Lincoln Avenue","Santa Fe","US","87501",35.6893456,-105.9385168),
(43,"STORE - PASADENA","15 E. Colorado Boulevard","Pasadena","US","91105",34.1460084,-118.1500351),
(44,"STORE - EDINA","3480 Galleria","Edina","US","55435",44.876876,-93.3258577),
(45,"STORE - NORTHPARK","8687 N. Central Expressway","Dallas","US","75225",32.8685017,-96.7735125),
(46,"STORE - NASHVILLE","2126 Abbott Martin Road","Nashville","US","37215",36.107504,-86.814796),
(47,"STORE - CHARLOTTE","6822-G Phillips Place Court","Charlotte","US","28210",35.145880,-80.826132),
(48,"STORE - KANSAS CITY","419 Nichols Road","Kansas City","US","64112",39.0412644,-94.5924621),
(49,"STORE - GREENWICH","252 Greenwich Avenue","Greenwich","US","06830",41.0263949,-73.6263433),
(50,"STORE - ROBERTSON","113 S. Robertson Boulevard","Los Angeles","US","90048",34.0748245,-118.3840667),
(51,"STORE - LAB","1 Bridge Street","Irvington","US","10533",41.0397668,-73.8734771),
(52,"STORE - BROOKLYN","314 East 9Th Street","New York","US","10003",40.7287081,-73.9866087),
(60,"STORE - SHORT HILLS","1200 Morris Turnpike","Short Hills","US","07078",40.739873,-74.3634868),
(61,"STORE - REDMOND T. C.","7525 166th Ave NE","Redmond","US","98052",47.6710318,-122.1191268),
(62,"STORE - OAKBROOK","100 Oakbrook Ctr","Oakbrook","US","60523",41.8502771,-87.9533023),
(63,"STORE - #10","1 Riverside Square Mall","HACKENSACK","US","07601",40.90632,-74.03054),
(64,"STORE - #12","5 Woodfield Mall","Schaumburg","US","60173",42.0464358,-88.0369224),
(65,"STORE - CENTURY CITY","10250 Santa Monica Blvd.","Los Angeles","US","90067",34.0590031,-118.418866),
(66,"STORE - CLEVELAND","28807 Chagrin Blvd","Woodmere","US","44122",41.4632992,-81.4766241),
(67,"STORE - BOUTIQUE","314 East 9th Street","New York","US","10003",40.728687,-73.986616)]]></db:parameterized-query>
        </db:insert>
    </sub-flow>
    <flow name="inventoryLoadProcessFlow">
        <sftp:inbound-endpoint connector-ref="SFTP" host="${interface.sftp.host}" port="${interface.sftp.port}" path="${interface.sftp.processdir}" user="${interface.sftp.user}" password="${interface.sftp.password}" responseTimeout="10000" doc:name="Process SFTP">
            <file:filename-regex-filter pattern="${interface.sftp.pickup.filepattern}" caseSensitive="true"/>
        </sftp:inbound-endpoint>
        <logger message="#[server.dateTime.format('yyyyMMddHHmmssSSSSSS')] : Flow inventoryLoadProcessFlow Started - Picked up file #[message.inboundProperties.originalFileName]" level="INFO" doc:name="Log: Flow Start"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="5486efdc-36e2-460a-850e-f074bfad44d6">
            <dw:input-payload doc:sample="inventoryload_sample.csv" mimeType="application/csv">
                <dw:reader-property name="streaming" value="true"/>
                <dw:reader-property name="header" value="false"/>
            </dw:input-payload>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	storeid: payload01.column_0,
	itemid: payload01.column_1,
	qty: payload01.column_2
})]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="payloadBackup" value="#[payload]" doc:name="Backup Payload"/>
        <flow-ref name="cleanupAndResetData" doc:name="Cleanup And Reset Data"/>
        <set-payload value="#[flowVars.payloadBackup]" doc:name="Retreive Payload"/>
        <foreach collection="#[payload]" doc:name="For Each: Refresh StoreItemQty Table">
            <db:insert config-ref="MySQL_Configuration" doc:name="Insert Record in StoreItemQty Table">
                <db:parameterized-query><![CDATA[INSERT INTO storeitemqty 
VALUES
(#[payload.storeid], #[payload.itemid], #[payload.qty])]]></db:parameterized-query>
            </db:insert>
    	</foreach>
    	<logger message="#[server.dateTime.format('yyyyMMddHHmmssSSSSSS')] : Flow inventoryLoadProcessFlow Ended" level="INFO" doc:name="Log: Flow End"/>
    </flow>
</mule>
